<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>
<body>
    <nav>
        <article>
            <img class="bola" src="/img/Pokebola.png">
        </article>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Cadastro">Cadastro</a></li>
        </ul>
    </nav>
    <header>
        <center>
        <img class="pokemon" src="/img/Pokemon.png">
        </center>
    </header>
    <div>
        <img src="<%= pokemon.imagem %">
    </div>
    <div>
        
    </div>
</body>
</html>