.bola{
    width: 50px;
    margin-left: 5px;
    margin-top: 2px;
}
.pokemon{
    height: 300px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav{
    background-color: salmon;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: larger;
    margin-right: 10px;
    transition: 0.5;
}
nav ul a:hover{
    color: white;
}
nav ul li a {
    text-decoration: none;
    color: darkred;
    font-weight: bold;
    padding: 5px;
}
li{
    list-style-type: none;
}
.registrado{
    background-color: gray;
    background-size: cover;
    width: 500px;
    height: 500px;
    margin: 10px;
    border: 10px solid blue;
    padding: 10px
}
section#message {
    padding: 1.5rem;
    background-color: rgb(197, 255, 214);
    color: #004d04;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span#close {
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
}
span#close:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.5);
}
.botao {
    font-size: 1.5em;
    background: #F90;
    border: 0;
    margin-bottom: 1em;
    color: #FFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin-top: 20px;
    margin-left: 200px;
}

.botao:hover {
    background: #FB0;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select, label.checkbox {
    cursor: pointer;
} 
#form{
    background-color:pink;
    height: 380px; /* testar largura da borda, do backgroud*/
    width: 500px;
    margin-right: auto;
    margin-left: auto;

}
label{
    font-family: Comic Sans MS;
    font-size: 30px;
    color: darkred;
    margin-left: 10px;
    text-align: right;
}
input{
    height: 40px;
    width: 300px;
    background-color: pink;
    border: pink;
    float: right;
    margin-top: 2px;
}
input::placeholder{
    color: rgb(245, 237, 237);
    font-size: 20px;
}
.pokeInfo{
    display: flex;
    justify-content: center;
    flex-direction: wrap;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
}
.pokeInfo h2, h4{
    margin-left: 200px;
}
.pokeInfo img{
    width: 475px;
    height: 475px;
}
.pickPoke img{
    width: 475px;
    height: 475px;
}
.pickPoke h4{
    margin-right: 200px;
    font-size: x-large;
    width: 400px;
}
.pickPoke h1{
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.listPoke{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.pickPoke, body{
    background-color: #fff2f2;
}
header{
    background-color: rgb(247, 217, 217);
}